/* .show-posts-list .panel-info ul:hover {
  border-color: #67b51b !important;
  border-width: 2px !important;
} */

/* .show-posts-list .panel-info .list-group-item {
  padding: 0px 0px !important;
  border: 0px !important;
} */

/* .panel-info > .list-group:hover
{
  border-color: #67b51b !important;
  border-width: 2px !important;
}  */